@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #fd2c2a; */
  transition: all cubic-bezier(0.23, 1, 0.32, 1) 1s;
  background-color: white;
  color: black;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
canvas {
  pointer-events: none;
}
span.growing {
  background-color: #fd2c2a;
}
.small_size_h1 {
  display: none;
}
.big_size_h1 {
  display: block;
}
.listContainerRef {
  display: none;
}

@media (max-width: 768px) {
  .big_size_h1 {
    display: none;
  }
  .small_size_h1 {
    display: block;
  }
  .menu_icon {
    display: block;
    /* display: ruby; */
  }
  #menulist {
    display: none;
  }
}
@media (max-width: 450px) {
  .small_size_h1 {
    font-size: 25vw;
  }
  .textcontainer {
    font-size: 20px;
  }
}
.group {
  border-radius: 5px;
}
.group:hover {
  background-color: #fd2c2a;
  transition: 0.3s;
}

.checkbox-wrapper-54 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-54 *,
.checkbox-wrapper-54 ::after,
.checkbox-wrapper-54 ::before {
  box-sizing: border-box;
}

/* The switch - the box around the slider */
.checkbox-wrapper-54 .switch {
  --width-of-switch: 2.5em;
  --height-of-switch: 1.5em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.2em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
  display: inline-block;
}

@media (min-width: 768px) {
  .checkbox-wrapper-54 .switch {
    --width-of-switch: 3em;
    --height-of-switch: 1.8em;
    --size-of-icon: 1.2em;
    --slider-offset: 0.25em;
  }
}

@media (min-width: 1024px) {
  .checkbox-wrapper-54 .switch {
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    --size-of-icon: 1.4em;
    --slider-offset: 0.3em;
  }
}

/* The slider */
.checkbox-wrapper-54 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cdcdcf;
  transition: 0.4s;
  border-radius: 30px;
}

.checkbox-wrapper-54 .slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

.checkbox-wrapper-54 input:checked + .slider {
  background-color: #303136;
}

.checkbox-wrapper-54 input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
